.TodayLossesParent {
	max-width: 2048px;
	margin: 20px auto;
	display: grid;

	grid-column-gap: 10px;
	grid-row-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	.TodaylossesItem {
		border: 0;
		// margin: 100px;
		width: 600px;
		height: 500px;

		justify-self: center;

		background-color: #73c9b7;

		border-radius: 15px;

		.TodaylossesImage {
			padding: 15px 10px;
			height: 350px;
			width: 580px;
		}
		.TodaylossesTitle {
			color: #ffffff;
			padding: 0px 10px;
			font-size: 25px;
			font-weight: 900;
			// show dots(...) if sting too long
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.TodaylossesCount {
			color: #15123f;
			font-weight: 900;
			padding: 20px 10px;
		}
	}
}
