.Header {
	width: 98%;
	height: 20px;
	background-color: #73c9b7;
	margin-bottom: 40px;
	padding: 20px 1%;

	position: relative;
	.LanguageSelector {
		position: absolute;
		right: 20px;
		top: 20px;
	}
}
