.Footer {
	// height: 2vw;
	width: 100%;

	margin: 0 auto;

	background-color: #000;

	.CopyRight {
		color: #fff;

		text-align: center;
		text-justify: center;

		font-size: 0.7rem;
	}
}
